#mainContainer {
    position: relative;
    width: 542px;
    height: auto;
}

#initialScreen {
    width: 542px;
    height: auto;
}

#gachaButton {
    position: absolute;
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    left: 0;
    top: 111px;
  }

  #gachaButtonImg {
    border: none;
    outline: none;
    background: transparent;
    width: 77px;
  }



#pokemonWindow {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

#gacha {
    width: 542px;
    height: auto;
}

#header {
    display: flex;
    height: 375px;
    width: 100%;
    background-image: url(Monsterball_BG2.png);
    justify-content: center
}

#footer {
    display: flex;
    height: 150px;
    width: 100%;
    background-image: url(Monsterball_BG2.png);
    justify-content: center
}

#pokemonImg {
    width: calc(( 490 / 1280 ) *100vw );
    height: auto;
    max-width: 490px;
    text-align: center;
    flex: 0 0 auto;
}

#pokemonNameContainer {
    padding: 30px 30px 45px 30px;
    width: calc(( 500 / 1280 ) *100vw );
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 8px 8px 0 #d9d9d9;
    text-align: left;
    margin: 80px 0 80px 0;
    background-color: #fff;
}



#status {
    width: 400px;
    display: flex;
    flex-direction: column;
}

#continueButton {
    border: none;
    outline: none;
    background: transparent;
}

#continueButtonImg {
    width: 200px;
    height: auto;
}

